.denjs-calculator {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border: black 1px solid;
}

.denjs-calculator .operation-block button {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.denjs-calculator .inputs-block .input-block {
    display: inline-block;
    padding: 10px;
}

.denjs-calculator .inputs-block .input-block label {
    display: block;
}